MONGODB_URI=
MONGODB_DB_NAME=cloud_platform_assignment
SESSION_SECRET=change-this-before-submitting
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
AZURE_CONTAINER_NAME=dropbox-files
