.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
.env

# Azurite local data (created by VS Code extension when blob service runs)
__blobstorage__/
__queuestorage__/
__azurite_db_*.json
